<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>로그인</title>
</head>

<body>
	<!--<a class="p-2"
		href="https://kauth.kakao.com/oauth/authorize?client_id=3490cacb0caf44f5940e4b7dcad93ad4&redirect_uri=http://localhost:8080/oauth/authorize&response_type=code">
		<img th:src="@{/img/kakao_login_medium_narrow.png}" style="height:60px" />
	</a>-->
	<a th:href="@{|${kakaoUrl}|}">
	<!--<a th:href="${kakaoUrl}">-->
		<img th:src="@{/img/kakao_login_medium_narrow.png}" style="height:60px" />
	</a>
</body>

</html>